html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 300 16px/25px "Myriad Set Pro", sans-serif;
}

.container {
	height: 100%;
	background-color: white;
}

.title-block {
    margin-top: 0;
    padding: 0;
    height: auto;
}

.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #444;
    color:#FFF;
}

.active {
    background-color: #4CAF50;
}

form {
    border: 3px solid #f1f1f1;
    padding: 10px;
    margin: 0;
    width: 20%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font: 300 14px/23px "Myriad Set Pro", sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font: 300 16px/25px "Myriad Set Pro", sans-serif;
}

button:hover {
    opacity: 0.8;
}

#signin {
    margin-top: 55px;
    padding-top: 45px;
    height: auto;
}

label {
    font: 300 24px/33px "Myriad Set Pro", sans-serif;
}

.dash {
    margin-right: 80%;
    margin-top: 53px;
    padding: 0;
    height: auto;
}

.side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    color: black;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.side {
	color: black;
}

.select {
	width: 100%;
	margin: 8px 0;
}

.profile {
	margin: 53px 10% 0px 30%;
	padding: 15px;
	height: 100%;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}
