html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 300 16px/25px "Myriad Set Pro", sans-serif;
}

.container {
	height: 100%;
	background-color: white;
}

.title-block {
    margin-top: 0;
    padding: 0;
    height: auto;
}

.top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    height: 53px;
}

li a, .session, .header {
    display: block;
    height: 6%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.status {
	display: block;
	padding: 0;
	height: 50px;
	background-color: #333;
	color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #444;
    color:#FFF;
}

.active {
    background-color: #4CAF50;
    text-align: left;
}

form {
    border: 3px solid #f1f1f1;
    padding: 10px;
    margin: 0;
    width: 20%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font: 300 14px/23px "Myriad Set Pro", sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font: 300 16px/25px "Myriad Set Pro", sans-serif;
}

button:hover {
    opacity: 0.8;
}

#signin {
    margin-top: 55px;
    padding-top: 45px;
    height: auto;
}

label {
    font: 300 24px/33px "Myriad Set Pro", sans-serif;
}

.dash {
    margin-right: 80%;
    margin-top: 0;
    padding: 0;
    height: auto;
    text-align: left;
}

.side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    color: black;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.side {
	color: black;
    text-align: left;
}

.select {
	width: 100%;
	margin: 8px 0;
}

.profile {
	margin: 0 0 0 20%;
	padding: 15px;
	height: calc(100% - 84px);
    text-align: center;
    background-color: white;
    overflow-y: auto;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    height: auto;
    border-radius: 50%;
}

.editProfile {
    width: auto;
    padding: 15px;
    text-align: left;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font: 300 14px/23px "Myriad Set Pro", sans-serif;
}

.crate {
	margin: 0 0 0 20%;
	height: 94%;
}

.name-bar {
    margin: 0;
	padding: 10px;
    height: 4%;
    text-align: center;
    float: center;
    width: auto;
    color: white;
    background-color: gray;
    font: 300 22px/30px "Myriad Set Pro", sans-serif;
    text-transform: uppercase;
}

.messages {
    margin: 0;
	padding: 1% 1%;
    height: 83.5%;
    width: auto;
    overflow: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.create-message {
    margin: 0;
    border: 1px solid #ccc;
    background-color: white;
    height: 8.8%;
    padding: 0;
}

.write-message {
    width: 80%;
    padding: 15px;
    margin: 0;
    height: 100%;
    display: block;
    float: left;
    word-wrap: break-word;
}

.form-box {
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.send {
    width: 20%;
    padding: 0;
    margin: 0;
}

.message-box-user {
	max-width: 40%;
	height: auto;
	padding: 10px;
	margin: 1% 0;
	background-color: lightgray;
	font: 300 14px/23px "Myriad Set Pro", sans-serif;
	display: inline-block;
	align-self: left;
	margin-left: auto;
	white-space: pre-line;
	word-wrap: break-word;
}

.message-box-dest {
	max-width: 40%;
	height: auto;
	padding: 10px;
	margin: 1% 0;
	background-color: lightblue;
	font: 300 14px/23px "Myriad Set Pro", sans-serif;
	display: inline-block;
	align-self: left;
	white-space: pre-line;
	word-wrap: break-word;
}

#send-button {
	height: 50%;
}


#file {
	height: auto;
}

.upcoming-event {
	margin: 0;
	padding: 10px;
    height: 4%;
    text-align: left;
    float: center;
    width: 100%;
    color: white;
    background-color: gray;
    font: 300 22px/30px "Myriad Set Pro", sans-serif;
    text-transform: uppercase;
}

.event-header {
	margin: 0;
	padding: 20px;
    height: 4%;
    text-align: left;
    width: 100%;
    color: gray;
    background-color: white;
    font: 300 18px/26px "Myriad Set Pro", sans-serif;
    text-transform: uppercase;
}

.desc {
	padding: 0 10px;
	font: 300 14px/22px "Myriad Set Pro", sans-serif;
}

#status {
	font: 300 18px/26px "Myriad Set Pro", sans-serif;
}

.event-crate {
	margin: 0;
    width: 95%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.images {
	max-width: 100%;
}

span {
	opacity: 0.5;
	font: 300 10px/18px "Myriad Set Pro", sans-serif;
}
