html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font: 300 16px/25px "Myriad Set Pro", sans-serif;
}

#title-block {
    margin-top: 0;
    padding: 0;
}

#top-nav {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

form {
    border: 3px solid #f1f1f1;
    padding: 10px;
    margin: 0;
    align-content: center;
    width: 20%;
    /*font: 300 16px/25px "Myriad Set Pro", sans-serif;*/
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font: 300 14px/23px "Myriad Set Pro", sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font: 300 14px/23px "Myriad Set Pro", sans-serif;
}

button:hover {
    opacity: 0.8;
}

#signin {
    margin-top: 55px;
    padding-top: 45px;
    height: auto;
}

label {
    font: 300 24px/33px "Myriad Set Pro", sans-serif;
}

#dash {
    margin-right: 80%;
    margin-top: 53px;
    padding: 0;
}

#side-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    color: black;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}